<div class="infoelement" style="border-bottom: none;">
  <div class="infoelement__key"><%= key %></div>
  <div class="infoelement__value">
    <%if(station.WEBSITE_DATAOWNER_1.length > 0){%>
      <%- station.WEBSITE_DATAOWNER_1 %>
    <%} else {%> <span>Keine Website verfügbar</span> <%}%>
  </div>
</div>
