<div class="infoelement">
  <div class="infoelement__key"><%= key %></div>
  <% if(key === "Messparameter"){ %>
  <div class="infoelement__value">
    <ul class="infoelement__list">
      <% if(value.length === 0){ %>
        <li>Keine Messparameter verfügbar</li>
      <% } %>
      <% if(value.length > 0) { %>
        <% value.forEach(element =>{%>
            <li>✔ <%=element %></li>
        <%})%>
      <% } %>
    </ul>
  </div>
  <% } else{ %>
  <div class="infoelement__value">
    <%= value %>
  </div>
  <% } %>
</div>
