<div class="infoelement">
  <div class="infoelement__key">Status</div>
  <div class="infoelement__value">
    <% if(online === "yes"){ %><span class="badge badge-pill badge-success">
      Online</span
    >
    <% } else { %>
    <span class="badge badge-pill badge-warning"> Offline</span>
    <% } %>
  </div>
</div>
