.infoelement {
  border-bottom: 1px solid #dee2e6;
  display: flex;
  padding: 12px 16px;
}

.infoelement__key,
.infoelement__value {
  font-size: 14px;
  width: 50%;
}
.infoelement__key {
  padding-right: 8px;
  font-weight: 600;
}
.card {
  border: 1px solid #b8daff;
}
.card-header {
  background-color: #ecf5ff;
  border-bottom: 1px dotted #b8daff;
  padding: 0.75rem 0;
}

.card-body-nospace {
  padding: 0;
}

.accordion-image {
  width: 18px;
  height: 18px;
}

.graph-image {
  padding: 24px 0 0 0;
}

.maximize-link {
  cursor: pointer;
}

.maximize-image {
  width: 24px;
  height: 24px;
}

.time-radios--title {
  padding: 0 0 12px 0;
  font-weight: bold;
}

.info-container {
  font-size: 0.9rem;
  padding: 4px;
}

.graph-container {
  border: 1px dashed lightgray;
}

.graph-description {
  padding: 20px 0 8px 0;
}

div[class^="wait-"] {
  visibility: hidden;
  padding: 0 0 0 16px;
}
