.accordion-image {
  width: 18px;
  height: 18px;
}

.graph-image {
  padding: 24px 0 0 0;
}

.time-radios--title {
  padding: 0 0 12px 0;
  font-weight: bold;
}

.info-container {
  font-size: 0.9rem;
  padding: 4px;
}

.graph-container {
  border: 1px dashed lightgray;
}

.graph-description {
  padding: 20px 0 8px 0;
}

div[class^="wait-"] {
  visibility: hidden;
  padding: 0 0 0 16px;
}
