* {
  font-size: 0.9rem;
}

.accordion-image {
  width: 18px;
  height: 18px;
}

.graph-image {
  padding: 24px 0 0 0;
}

.time-radios--title {
  padding: 0 0 12px 0;
  font-weight: bold;
}

.info-container {
  padding: 4px;
}
