<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">WISKI HTML Service.</h1>
        <p class="lead">
          This service provides station information as HTML.
        </p>
      </div>
    </div>
    <div class="container">
      <h2>Endpoints</h2>
      <ul>
        <% endpoints.forEach(function(endpoint) { %>
        <li><a href="<%= endpoint %>"><%= endpoint %></a></li>
        <% }); %>
      </ul>
      <button id="clickme">Click me!</button>
    </div>
    <%- include('../partials/footer'); %>
    <script type="module" src="javascript/frontend/main.js"></script>
  </body>
</html>
